<!DOCTYPE html>
<html style="background-color: rgb(52, 52, 52);">
<head>
    <meta charset="utf-8">
    <title>404 Not Found 👀</title>
    <link href="{{url_for('static', filename='css/404.css')}}" rel="stylesheet" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
    <h3 class="whyandae">Error Page</h3>    
    <div class="whyandae">oh. Hi, I'm error cat.</div>

    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_OT15QW.json" 
    background="transparent"  speed="1" class="test_lottie" loop autoplay></lottie-player>

</body>
</html>
