<!DOCTYPE html>
<html>
<head>
    {% include "fix/source.html" %}
    <link href="{{url_for('static', filename='css/post/post_detail.css')}}" rel="stylesheet">
    {% include 'fix//flash_message.html' %}
    <title>post</title>
</head>
<body class="main-background" id="full-background">
    {% include "fix/header.html" %}
    <main>
        <h1>{{post.title}}</h1>
        <div class="post-infos">
            <div class="post-info detail-info">
                작성자: 
                {% if post.user %}
                    {{ post.user.username }}
                {% else %}
                    없음
                {% endif %}
            </div>
            <div class="post-info detail-info">
                / 글쓴 시간 : {{post.datetime}}
            </div>
        </div>
        <hr>
        <div class="post-content">
            {{post.content}}
        </div>
        <div>
            <h2>댓글 목록</h2>
            <ul style="border: 1px solid gray;">
                {% for comment in post.comment_set %}
                <li>
                    <div class="comment-user detail-info">
                        {% if comment.user %}
                            {{ comment.user.username }}
                        {% else %}
                            작성자 없음
                        {% endif %} ({{comment.datetime}}) :
                    </div>
                    {{comment.content}}
                </li>
                {% endfor %}
            </ul>
        </div>

        <a href="/detail/{{post.id}}/comment/">댓글 등록</a>
        <a href="/delete/{{post.id}}/">삭제</a>
    </main>
    {% include "fix/footer.html" %}
</body>
</html>