<!DOCTYPE html>
<html>
<head>
    {% include "fix/source.html" %}
    <link href="{{url_for('static', filename='css/post/post_list.css')}}" rel="stylesheet">
    {% include 'fix//flash_message.html' %}
    <title>post</title>
</head>
<body class="main-background" id="full-background">
    {% include "fix/header.html" %}
    <main>
        <div class="container">
            <br>
            <h1>🍿게시판🍿</h1>
            <br>

            <table class="post-list-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th style="text-align: left;">제목</th>
                        <th>작성날짜</th>
                    </tr>
                </thead>
                <tbody style="vertical-align: top;">
                    {% for i in post_list %}
                    <tr>
                        <td style="width: 50px; text-align: center;">{{i.id}}</td>
                        <td><a href='/detail/{{i.id}}'>{{i.title}}</a></td>
                        <td style="width: 240px; text-align: center;">{{i.datetime}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <button type="button" onclick="location.href='/post'">글쓰기</button>
        </div>
        <br>
    </main>
    {% include "fix/footer.html" %}
</body>
</html>